<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать описание книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}" th:object="${book}">
  <label for="title" >Укажите название:</label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name error</div>
  <br/>
  <label for="author" >Укажите автора:</label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
  <br/>
  <label for="year" >Год издания:</label>
  <input type="text" th:field="*{year}" id="year"/>
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name error</div>
  <br/>

  <input type="submit" value="Сохранить изменения."/>
</form>

</body>
</html>