<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читательский билет</title>
</head>
<body>

<p th:text="${'ФИО: ' + person.getName()}">Value</p>
<p th:text="${'Год рождения: ' + person.getYear()}">Value</p>

<div th:if="${books.isEmpty()}">
    <hr/>
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
    <a th:href="@{/books/{book_id}(book_id=${book.getBook_id()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
       th:style="${book.isExpired()} ? 'color: red' : 'color: black'">user</a>

        <form th:method="PATCH"
              th:action="@{/books/{book_id}/release(book_id=${book.getBook_id()})}">
            <br/>
            <input type="submit" value="Освободить книгу"/>

        </form>

    </table>


    <hr/>
</div>

<hr/>

<a th:href="@{/people/{person_id}/edit(person_id=${person.getPerson_id()})}">Редактировать билет</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>